* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

header {
  position: relative;
  font-size: 32px;
}

.position i {
  display: inline-block;
  margin-left: 20px;
}

.position {
  position: absolute;
  top: 100px;
  right: 40px;
}